* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  max-width: 1500px;
  margin: 0 auto;
}

header {
  background-color: #4a5568;
  height: 100px;
  border-radius: 10px;
  border: none;
  border-style: double;
  font-style: oblique;
}

h1 {
  color: rgba(9, 9, 9, 0.804);
  font-size: 70px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cv-container {
  padding-left: 10px;
}
img {
  display: flex;
  border-radius: 50%;
  margin-bottom: 30px;
}

h2 {
  font-weight: 900px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

ul {
  font-weight: 500;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

p {
  font-weight: 500;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

#p-info,
#edu,
#Skills,
#exp {
  width: 233.25px;
  height: auto;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  color: white;
  border-style: double;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Hover effect */
#p-info:hover,
#edu:hover,
#Skills:hover,
#exp:hover {
  background-color: #4a5568; /* Optional: change background color on hover */
  transform: scale(1.1); /* Increase size by 10% on hover */
}

#toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer {
  background-color: #4a5568;
  height: 40px;
  margin-top: 210px;
  color: white;
  font-size: 30px;
  text-align: end;
}

/* Media Queries for additional responsiveness */
@media (max-width: 768px) {
  h1 {
    /* font-size: 6vw; */
    font-size: 2em;
  }
  h2 {
    font-size: 4vw;
  }
  ul,
  p {
    font-size: 3.5vw;
  }
  button {
    font-size: 4vw;
  }
  footer {
    padding-right: 5%;
    width: 100vw;
    font-size: 1em;
    height: fit-content;
  }
  #cv-container {
    margin-left: 6%;
    margin-right: 6%;
  }
  header {
    height: 40px;
  }

  #toggle-btn {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  h1 {
    /* font-size: 8vw;*/
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1em;
  }
  h2 {
    font-size: 5vw;
  }
  ul,
  p {
    font-size: 4vw;
  }
  button {
    font-size: 4vw;
  }
  footer {
    padding-right: 5%;
    width: 100vw;
    font-size: 1em;
    height: fit-content;
  }
  #cv-container {
    margin-left: 6%;
    margin-right: 6%;
  }
  header {
    height: 35px;
    /* width: 100vw; */
  }

  #toggle-btn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 770px) and (max-width: 962px) {
  #toggle-btn {
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: row;
  }
}
